package {{configPackage}};

import org.alfresco.rest.sdk.feign.config.BasicAuthConfiguration;
import org.alfresco.rest.sdk.feign.config.DelegatedAuthenticationConfiguration;
import org.alfresco.rest.sdk.feign.config.OAuth2Configuration;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Import;

/**
 * Feign client Spring configuration that provides support for different authentication methods. Currently, supported methods are:
 * <ul>
 *     <li>Basic Authentication</li>
 *     <li>OAuth2 - Client credentials flow</li>
 *     <li>OAuth2 - Password flow</li>
 *     <li>Delegated (external) authentication</li>
 * </ul>
 */
@Configuration
@Import({BasicAuthConfiguration.class, OAuth2Configuration.class, DelegatedAuthenticationConfiguration.class})
public class ClientConfiguration {

}
