package {{package}};

import org.springframework.cloud.openfeign.FeignClient;
import {{configPackage}}.ClientConfiguration;

{{=<% %>=}}
@FeignClient(value = "${<%title%>.name:<%title%>}", url = "${<%title%>.url:<%hostWithoutBasePath%>}", configuration = ClientConfiguration.class, decode404 = true)
<%={{ }}=%>
public interface {{classname}}Client extends {{classname}} {
}
